
/* X-LARGE EKRANDA GÖRÜNÜM +1200 */
@media only screen and (min-width : 1200px) {
    /*header container*/
    .headermiddle {
        display: flex !important;
    }
    /*kategori sipariş*/
    .categori .siparis {
        margin-left: 75px ;
    }
}
/*-----------------------------------------------*/

/*LARGE EKRAN 996-1200*/
@media only screen and (max-width : 1200px){
    /*logo*/
    .top-img {
        display: none;
    }
    .headermiddle .logodiv {
        width: 100%;
        justify-content: center !important;
    }
    /*searchbox div*/
    .headermiddle .searchdiv {
        width: 100%;
        align-items: center !important;
        justify-content: center !important;
        margin-top: 25px;
    }
    .headermiddle .logindiv {
        width: 100%;
        justify-content: center !important;
        margin-top: 25px;
    }
    /*LOGİN BÖLÜMÜ POPOVER*/
    .searchdiv .inputbaloncuk {
        width: 603px !important;
    }
    .flagbaloncuk {
        width: 260px;
    }
    .sepetbaloncuk {
        width: 260px;
    }
    .badge2 {
        top: 35%;
        right: 70px;
    }
    .sepetbaloncuk .bi {
        margin-left: 70px;
    }
    .sepetbaloncuk p{
        margin-left: 40px;
    }
    /***KATEGORİ BÖLÜMÜ***/
    .categori {
        margin-top: 130px !important;
    }
}


/* MEDIUM EKRAN 768 - 996*/
@media only screen and (max-width : 996px) {
    /*kategori bölümü*/
    .categori {
        flex-direction: column;
        align-items: flex-start !important;
    }
    .categori .categorybox{
        width: 140px;
        padding-bottom: 10px;
    }
    .categori .siparis {
        margin-top: 25px;
        padding-bottom: 0;
    }
    /*mega menü*/
    .categori .megamenu {
        padding: 5px;
        width: 600px !important;
        top: 0px;
        left: 165px;
    }
    .categorybox .megamenu::before {
        display: block;
    }
    .categori .megaAltcont {
        flex-direction: column;
    }
    .categori .megaCategory {
        text-align: center;
        margin: 0 auto !important;
        border: none !important;
    }
    .categori .megaOnecikan {
        margin-top: 25px;
    }
    /*FOOTER BÖLÜMÜ*/
    .footer .credicards {
        flex-direction: column;
    }
    .footer .securelogo {
        margin-bottom: 25px;
    }
}


 /*SMALL EKRAN GÖRÜNÜM 576-768*/
@media only screen and (max-width : 768px){
    /*searchbox*/
    .header-searchbox {
        max-width: 100%;
    }
    /*BALONCUKLAR BÖLÜMÜ*/
    .searchdiv .inputbaloncuk {
        width: 100% !important;
    }
    .flagbaloncuk {
        top: 25px;
        left: -35px;
    }
    .flagbaloncuk::before {
        top: -10px;
        left: 40px;
    }
    .flagbaloncuk::after {
        top: -20px;
        left: 0;
        width: 30%;
    }
    .sepetbaloncuk {
        top: 75px;
        right: -75px;
    }
    .sepetbaloncuk::before {
        top: -10px;
        right: 35%;
    }
    .sepetbaloncuk::after {
        width: 50%;
    }
    /*Kategori bölümü*/
    .categori .categorybox{
        width: 120px;
    }
    /*Mega container bölümü*/
    .categori .megamenu {
        width: 400px !important;
    }
    .categori .megamenu .megaDip {
        flex-direction: column;
        padding: 0 !important;
    }
    /*FOOTER BÖLÜMÜ*/
    .footer .credit {
        flex-direction: column;
    }
    .footer .credit img {
        width: 150px;
        margin-bottom: 10px;
    }
}


/* X-SMALL EKRAN GÖRÜNÜM*/
@media only screen and (max-width : 576px) {
    /*mega menü*/
    .categori .megamenu {
        width: 300px !important;
    }
    /*footer*/
    .footer .footertop i {
        padding: 0 !important;
    }
    .footer .footertop {
        flex-direction: column;
        text-align: center;
    }
    .footer .social {
        display: flex;
        flex-direction: column !important;
    }
    .footer .social .dfmobile {
        align-items: flex-start !important;
        margin-top: 25px;
    }
}
